:root {
  margin: 0;
  color: whitesmoke;
}

#root{
  display: flex;
  gap: 10px;
  
}

#home {
  background-color: aqua;
  height: 103vh;
  width: 74vw;
  border: 4px solid #29D3F2;
  background-color: #3C4267;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#h1Home{
  text-align: center;
  font-size: 30px; 
  text-transform: uppercase;
  
}

h2{
  text-align: center;
  font-size: 20px; 
}

#sectionHome{
  margin: 50px 15px;
}

p{
  text-align: justify;
  margin-bottom: 40px;
}

ol{
  list-style-type: none;
  
}

li{
  margin: 15px 0px;
  text-align: justify;
}

